<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Language-agnostic Content Tagging</title>
	<link rel="shortcut icon" href="./static/favicon.ico">
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable = no" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css">
	<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./static/style.css" />
	<style>
      .above-threshold {color: black;}
      .below-threshold {color: #72777d;}
    </style>

</head>

<body>
	<script type="text/javascript">
		var body = document.body;
		body.classList.add('js');
	</script>

	<div id="origin_bar">
		<div class="boxwidth--1-1 padded--left padded--right">
			<a href="https://research.wikimedia.org/" class="origin_title"><img src="./static/Wikimedia-Foundation-logo.svg" alt="Wikimedia Foundation logo" />Wikimedia Research</a>
		</div>
	</div>

	<article id="tool_holder">
		<div id="tool_header--holder" class="boxwidth--1-1 padded--left padded--right">
			<header id="tool_header">
				<h1>Language-agnostic Content Tagging</h1>
				<div class="meta">
					<div class="disclaimer note">
						<p>No guarantees are made that this tool will be maintained.</p>
						<p>This is an experimental tool hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a>. No additional personal data is collected by this tool per the Cloud Services
							<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.</p>
					</div>
					<div class="description padded--right">
						<p>This tool showcases all the different tags that can be automatically determined (generally via machine learning models) for a given Wikipedia article.</p>
					</div>
				</div>
			</header>
		</div>

		<div class="separator"></div>

		<section id="topic" class="boxwidth--1-1 padded--left padded--right">
			<main id="tool_main">
				<section class="form">
					<form action="#results">
						<div class="cols cols3">
							<div class="col col1">
								{% if lang %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en for English</span>
									<input type="text" value="{{lang}}" placeholder="Placeholder text" id="lang"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en for English</span>
									<input type="text" value="" placeholder="Placeholder text" id="lang"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								{% if title %}
								<label class="placeholder"><span class="field_name">Article title -- e.g., Toni Morrison</span>
									<input type="text" value="{{title}}" placeholder="Placeholder text" id="page_title"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Article title -- e.g., Toni Morrison</span>
									<input type="text" value="" placeholder="Placeholder text" id="page_title"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								<span class="field_name"></span>
								<input type="submit" value="Submit" id="btnSubmit" />
							</div>
						</div>
					</form>
				</section>
				<section id="results">
					<div class="cards">
						<div class="cols cols3">
							<div class="col col1">
								<article class="card" id="page-preview">
									<!-- Empty section to hold article -->
								</article><!-- .card -->
							</div><!-- .col -->
							<div class="col col1">
								<section class="text" id="topic-results">
								<!-- Empty section to hold results -->
								</section>
								<section class="text" id="geo-results">
								<!-- Empty section to hold results -->
								</section>
							</div>
							<div class="col col1">
								<section class="text" id="person-results">
								<!-- Empty section to hold results -->
								</section>
								<section class="text" id="quality-results">
								<!-- Empty section to hold results -->
								</section>
							</div><!-- .col -->
						</div>
					</div>
				</section>
			</main>
		</section>
	</article>

	<footer id="tool_footer">
		<div id="tool_footer-in" class="boxwidth--1-1 padded--left padded--right">
			<p>Experimental tool developed by <span class="tool-author"><a href="https://meta.wikipedia.org/wiki/User:Isaac_(WMF)">Isaac (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a></span>.</p>
			<ul>
				<li><a href="https://github.com/geohci/wikipedia-topic-model-api">View Source</a></li>
				<li><a href="https://meta.wikimedia.org/wiki/Research:Language-Agnostic_Topic_Classification/Outlink_model_performance">Meta</a></li>
				<li><a href="https://github.com/geohci/wikipedia-topic-model-api#license">License</a></li>
			</ul>
		</div>
	</footer>


	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('form label.placeholder').each(function() {
				if (!$('input, textarea, select', this).val()) {
	 				$(this).addClass('off');
				}
				$(this).on('focusin', function() {
					$(this).removeClass('off');
				});
				$(this).on('focusout', function() {
					if (!$('input, textarea, select', this).val()) {
						$(this).addClass('off');
					}
				});
				$('*[placeholder]', this).attr('placeholder', '');
			});
		});
	</script>

	<script type="text/javascript">
		$('#btnSubmit').click(function (e) {
		   e.preventDefault(); queryTaggingAPIs();
		});

		window.onload = function() {
			if (document.getElementById('lang').value) {
				queryTaggingAPIs();
			}
		}

		var render_page_preview = function(data) {
			$("#page-preview").empty();
			var cardHTML = '<a href="https://' + document.getElementById('lang').value + '.wikipedia.org/wiki/' + document.getElementById('page_title').value + '">';
			// var imgSrc = "https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/526px-Wikipedia-logo-v2.svg.png";
			if ("thumbnail" in data) {
				imgSrc = data["thumbnail"]["source"];
				cardHTML += '<div class="img"><figure><img src="' + imgSrc + '" /></figure></div>';
			}
			cardHTML += '<div class="texts"><h3>' + document.getElementById('page_title').value + '</h3>';
			if ("extract_html" in data) {
				cardHTML += data["extract_html"];
			}
			cardHTML += '</div><div class="more">More info. &raquo;</div></a>';
			$("#page-preview").append(cardHTML);
		}

	    var render_topic_results = function(data) {
			$("#topic-results").empty();
			if ("Error" in data) {
				$("#topic-results").append("<br><p>Error: " + data["Error"] + "</p>");
			}
			else {
				$("#topic-results").append('<br><h4><a href="./topic?lang=' + document.getElementById('lang').value + '&title=' + document.getElementById('page_title').value + '">Topics</a></h4>');
			  	if (data["results"].length > 0) {
					for (var cat in data["results"]) {
						if (data["results"][cat]["score"] >= 0.5) {
							$("#topic-results").append("<li class='above-threshold'>" + data["results"][cat]["topic"] + " (" + Math.round(data["results"][cat]["score"]*100) + "%)</li>");
						} else {
							$("#topic-results").append("<li class='below-threshold'>" + data["results"][cat]["topic"] + " (" + Math.round(data["results"][cat]["score"]*100) + "%)</li>");
						}
					}
			  	}
			  	else {
					$("#topic-results").append("<p>No confident topics predicted.</p>");
			  	}
			}
		}

		var render_quality_results = function(data) {
			$("#quality-results").empty();
			if ("error" in data) {
				$("#quality-results").append("<br><p>Error: " + data["error"] + "</p>");
			}
			else {
				$("#quality-results").append('<br><h4><a href="./quality?lang=' + document.getElementById('lang').value + '&title=' + document.getElementById('page_title').value + '">Quality</a></h4>');
			  	if ("quality" in data) {
			  	    if (data["quality"] <= 0.42) {
			  	        $("#quality-results").append("<li>Quality: " + data["quality"].toFixed(3) + " (Stub)</li>");
			  	    } else if (data["quality"] <= 0.56) {
			  	        $("#quality-results").append("<li>Quality: " + data["quality"].toFixed(3) + " (Start)</li>");
			  	    } else if (data["quality"] <= 0.73) {
                        $("#quality-results").append("<li>Quality: " + data["quality"].toFixed(3) + " (C-class)</li>");
			  	    } else if (data["quality"] <= 0.85) {
			  	        $("#quality-results").append("<li>Quality: " + data["quality"].toFixed(3) + " (B-class)</li>");
			  	    } else if (data["quality"] <= 0.93) {
			  	        $("#quality-results").append("<li>Quality: " + data["quality"].toFixed(3) + " (Good)</li>");
			  	    } else if (data["quality"] <= 1) {
			  	        $("#quality-results").append("<li>Quality: " + data["quality"].toFixed(3) + " (Featured)</li>");
			  	    }
			  	}
			  	else {
					$("#quality-results").append("<p>No quality score provided.</p>");
			  	}
			}
		}

		var render_person_results = function(data) {
			$("#person-results").empty();
			if ("Error" in data) {
				$("#person-results").append("<br><p>Error: " + data["Error"] + "</p>");
			}
			else {
				$("#person-results").append('<br><h4><a href="./person?lang=' + document.getElementById('lang').value + '&title=' + document.getElementById('page_title').value + '">Occupation</a></h4>');
				if ((data["results"].length == 0) && (data["unmapped"].length == 0)) {
					$("#person-results").append("<p>No occupations assigned on Wikidata.</p>");
			  	} else {
					if (data["results"].length > 0) {
						for (var cat in data["results"]) {
							$("#person-results").append("<li class='above-threshold'>" + data["results"][cat]["lbl"] + " (" + data["results"][cat]["support"] + ")</li>");
						}
					}
					if (data["unmapped"].length > 0) {
						for (var cat in data["unmapped"]) {
							$("#person-results").append("<li class='below-threshold'>" + data["unmapped"][cat]["lbl"] + "</li>");
						}
					}
				}
			}
		}

		var render_geo_results = function(data) {
			$("#geo-results").empty();
			if ("Error" in data) {
				$("#geo-results").append("<br><p>Error: " + data["Error"] + "</p>");
			}
			else {
				$("#geo-results").append('<br><h4><a href="./countries?lang=' + document.getElementById('lang').value + '&title=' + document.getElementById('page_title').value + '">Countries</a></h4>');
			  	if (data[0]['regions'].length > 0) {
					for (var reg in data[0]['regions']) {
						$("#geo-results").append("<li>" + data[0]['regions'][reg]["region"] + "</li>");
					}
			  	}
			  	else {
					$("#geo-results").append("<p>No relevant countries predicted.</p>");
			  	}
			}
		}

		var update_title = function(data) {
			document.getElementById('page_title').value = data['query']['random'][0]['title'];
			document.getElementById('page_title').parentNode.className = 'placeholder';
		}


	  	function queryTaggingAPIs() {
	  		if (document.getElementById('lang').value && !document.getElementById('page_title').value) {
				var randomPageQueryURL = "https://" + document.getElementById('lang').value + ".wikipedia.org/w/api.php?action=query&format=json&list=random&rnlimit=1&rnnamespace=0&origin=*";
				$.ajax(randomPageQueryURL, {success: update_title.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)},
							  async: false
							  }
				  );
			}

			var articleExtractURL = "https://" + document.getElementById('lang').value + ".wikipedia.org/api/rest_v1/page/summary/" + document.getElementById('page_title').value + "?redirect=true"
			$.ajax(articleExtractURL, {success: render_page_preview.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );

			var topicQueryUrl = "https://wikipedia-topic.wmcloud.org/api/v1/topic?threshold=0.15&lang=" + document.getElementById('lang').value + "&title=" + document.getElementById('page_title').value;
			var personQueryUrl = "https://person-wikidata.wmcloud.org/api/v1/occupation?lang=" + document.getElementById('lang').value + "&title=" + document.getElementById('page_title').value;
			var geoQueryUrl = "https://wiki-region.wmcloud.org/api/v1/region?lang=" + document.getElementById('lang').value + "&titles=" + document.getElementById('page_title').value;
			var qualityQueryUrl = "https://misalignment.wmcloud.org/api/v1/quality-article?lang=" + document.getElementById('lang').value + "&title=" + document.getElementById('page_title').value;
			$.ajax(topicQueryUrl, {success: render_topic_results.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );
		    $.ajax(personQueryUrl, {success: render_person_results.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );
		    $.ajax(geoQueryUrl, {success: render_geo_results.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );
			$.ajax(qualityQueryUrl, {success: render_quality_results.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );
	  	}
	</script>

</body>

<!--
			$("#page-preview").append('<a href="https://' + document.getElementById('lang').value + '.wikipedia.org/wiki/' + document.getElementById('page_title').value + '">');
			$("#page-preview").append('<div class="img">');
			var imgSrc = "https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/526px-Wikipedia-logo-v2.svg.png";
			if ("thumbnail" in data) {
				imgSrc = data["thumbnail"]["source"];
			}
			$("#page-preview").append('<figure><img src="' + imgSrc + '" /></figure>');
			$("#page-preview").append('</div><div class="texts"><h3>' + document.getElementById('page_title').value + '</h3>');
			if ("extract_html" in data) {
				$("#page-preview").append(data["extract_html"]);
			}
			$("#page-preview").append('</div><div class="more">More info. &raquo;</div></div></a>');
-->

</html>
