<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Wikipedia HTML Parsing</title>
	<link rel="shortcut icon" href="./static/favicon.ico">
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable = no" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css">
	<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./static/style.css" />
</head>

<body>
	<script type="text/javascript">
		var body = document.body;
		body.classList.add('js');
	</script>

	<div id="origin_bar">
		<div class="boxwidth--1-1 padded--left padded--right">
			<a href="https://research.wikimedia.org/" class="origin_title"><img src="./static/Wikimedia-Foundation-logo.svg" alt="Wikimedia Foundation logo" />Wikimedia Research</a>
		</div>
	</div>

	<article id="tool_holder">
		<div id="tool_header--holder" class="boxwidth--1-1 padded--left padded--right">
			<header id="tool_header">
				<h1>HTML Parsing</h1>
				<div class="meta">
					<div class="disclaimer note">
						<p>No guarantees are made that this tool will be maintained.</p>
						<p>This is an experimental tool hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a>. No additional personal data is collected by this tool per the Cloud Services
							<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.</p>
					</div>
					<div class="description padded--right">
						<p>This tool showcases a new Python library for parsing the Parsoid HTML contained within the Enterprise HTML Dumps.</p>
						<p>It should work for any language of Wikipedia. If you don't have a favorite article title, just leave that field blank and the tool will select a random one.</p>
					</div>
				</div>
			</header>
		</div>

		<div class="separator"></div>

		<section id="actions" class="boxwidth--1-1 padded--left padded--right">
			<main id="tool_main">
				<section class="form">
					<form action="#results">
						<div class="cols cols3">
							<div class="col col1">
								{% if lang %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en for English</span>
									<input type="text" value="{{lang}}" placeholder="Placeholder text" id="lang"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Language code -- e.g., en for English</span>
									<input type="text" value="" placeholder="Placeholder text" id="lang"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								{% if title %}
								<label class="placeholder"><span class="field_name">Article title -- e.g., Cabbage</span>
									<input type="text" value="{{title}}" placeholder="Placeholder text" id="page_title"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Article title -- e.g., Cabbage</span>
									<input type="text" value="" placeholder="Placeholder text" id="page_title"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								<span class="field_name"></span>
								<input type="submit" value="Submit" id="btnSubmit" />
							</div>
						</div>
					</form>
				</section>
				<section id="results">
					<div class="cards">
						<div class="cols cols3">
							<div class="col col2">
								<section class="text" id="article-iframe">
									<!-- Empty section to hold article preview -->
								</section>
							</div><!-- .col -->
							<div class="col col1">
								<section class="text" id="article-features">
									<!-- Empty section to hold results -->
								</section>
							</div><!-- .col -->
						</div>
					</div>
				</section>
			</main>
		</section>
	</article>

	<footer id="tool_footer">
		<div id="tool_footer-in" class="boxwidth--1-1 padded--left padded--right">
			<p>Experimental tool developed by <span class="tool-author"><a href="https://meta.wikipedia.org/wiki/User:Isaac_(WMF)">Isaac (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a></span>.</p>
			<ul>
				<li><a href="https://github.com/geohci/wikipedia-topic-model-api">Page Source</a></li>
				<li><a href="https://gitlab.wikimedia.org/repos/research/html-dumps">Tool Source</a></li>
				<li><a href="https://github.com/geohci/wikipedia-topic-model-api#license">License</a></li>
			</ul>
		</div>
	</footer>


	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('form label.placeholder').each(function() {
				if (!$('input, textarea, select', this).val()) {
	 				$(this).addClass('off');
				}
				$(this).on('focusin', function() {
					$(this).removeClass('off');
				});
				$(this).on('focusout', function() {
					if (!$('input, textarea, select', this).val()) {
						$(this).addClass('off');
					}
				});
				$('*[placeholder]', this).attr('placeholder', '');
			});
		});
	</script>

	<script type="text/javascript">
		$('#btnSubmit').click(function (e) {
		   e.preventDefault(); queryParseAPIs();
		});

		window.onload = function() {
			if (document.getElementById('lang').value) {
				queryParseAPIs();
			}
		}

		var generate_permalink = function() {
			var result_url = 'https://wiki-topic.toolforge.org/html-parsing';
			if (document.getElementById('lang').value) {
				result_url = result_url + '?lang=' + document.getElementById('lang').value;
				if (document.getElementById('page_title').value) {
					result_url = result_url + '&page_title=' + document.getElementById('page_title').value;
				}
			}
			return '<a href="' + result_url + '">Result link</a>';
		}

		var render_article_preview = function() {
			$("#article-iframe").empty();
			var iframeHTML = '<iframe title="Wikipedia article queried" src="https://' + document.getElementById('lang').value + '.m.wikipedia.org/wiki/' + document.getElementById('page_title').value + '" style="position: relative; height: 500px; width: 100%;"></iframe>';
			$("#article-iframe").append(iframeHTML);
		}

	    var render_results = function(data) {
			$("#article-features").empty();
			if ("error" in data) {
				$("#article-features").append("<br><p>Error: " + data["error"] + "</p>");
			} else if (Object.keys(data["features"]).length > 0) {
				$("#article-features").append('<br><h4>HTML Features</h4>');
				var feature_list = "<ul>";
				for (var f in data["features"]) {
					if (f == 'namespaces') {
						feature_list += "<li>" + f + ": " + JSON.stringify(data["features"][f]) + "</li>";
					} else {
						feature_list += "<li>" + f + ": " + data["features"][f] + "</li>";
					}
				}
				feature_list +=  "</ul>";
				$("#article-features").append(feature_list);

				$("#article-features").append('<br><h4>Plaintext</h4>');
				var lines = data['plaintext'].split('\n');
				for (var i in lines) {
					$("#article-features").append('<p>' + lines[i] + '</p>');
				}
			} else {
				$("#article-features").append("<p>Parsing failed.</p>");
			}
			$("#article-features").append('<br><p>Seems wrong? Leave feedback at <a href="https://gitlab.wikimedia.org/repos/research/html-dumps/-/issues">Gitlab</a>. Here is a link to this result: ' + generate_permalink() + '</p>');
		}

		var update_title = function(data) {
			document.getElementById('page_title').value = data['query']['random'][0]['title'];
			document.getElementById('page_title').parentNode.className = 'placeholder';
		}


	  	function queryParseAPIs() {
			if (document.getElementById('lang').value && !document.getElementById('page_title').value) {
				var randomPageQueryURL = "https://" + document.getElementById('lang').value + ".wikipedia.org/w/api.php?action=query&format=json&list=random&rnlimit=1&rnnamespace=0&origin=*";
				$.ajax(randomPageQueryURL, {success: update_title.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)},
							  async: false
							  }
				  );
			}
			render_article_preview();  // TODO: make async?

			var parsedHTMLUrl = "https://mwparserfromhtml.wmcloud.org/api/v1/parse-article?lang=" + document.getElementById('lang').value + "&title=" + document.getElementById('page_title').value;
			$.ajax(parsedHTMLUrl, {success: render_results.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );
	  	}


	</script>

</body>
</html>
