<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wikidata-based Topic Exploration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="./static/site.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Wikidata-based Topic Models</h1>
    <p class="lead">This <strong>experimental</strong> tool is hosted on
      <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge" target="_blank" rel="noopener">Toolforge</a>.
      No guarantees are made that it will be maintained.
      No additional personal data is collected by this tool per the Cloud Services
      <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-9">
      <h2>Wikidata Topic Classification</h2>
      <p>This first experimental API provides topic predictions for Wikipedia articles based on their Wikidata items.</p>
      <p>Because it relies on Wikidata items, it is language-neutral and works for any Wikipedia article (<a href="http://wmdeanalytics.wmflabs.org/WD_percentUsageDashboard/">with a Wikidata item</a>).</p>
      <p>Because it relies on Wikidata items, it has little data to go on with sparse Wikidata items.</p>
      <h3>Querying the API</h3>
      <p>Example: <a href="./api/v1/wikidata/topic?qid=Q72334">Toni Morrison (Q72334)</a></p>
      <p>Or provide your own Wikidata ID:</p>
      <form action="#">
        <div class="form-row align-items-center">
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Q</div>
              </div>
              <input type="text" class="form-control" id="wikidata-id" placeholder="72334">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary" onclick="queryWikidataAPI();">Query API</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
          <div id="wikidata-results">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-9">
        <br><hr><br>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-9">
      <h2>Wikipedia Topic Classification</h2>
      <p>This second experimental API provides topic predictions for Wikipedia articles based on their links to other Wikipedia articles (outlinks only).</p>
      <p>It represents these links as Wikidata items -- e.g., a link to <a href="https://en.wikipedia.org/wiki/Menhaden">en:Menhaden</a> is represented as <a href="https://www.wikidata.org/wiki/Q218526">Q218526</a>.</p>
      <p>Because it relies on Wikidata items, it is language-neutral and works for any Wikipedia article. However, unlike the above purely-Wikidata model, this model uses an article's links
        and will give different predictions depending on the language version of the article.</p>
      <p>Because it relies on outlinks, it may have little data to go on for new articles that have few links or links to rarely-linked items.</p>
      <h3>Querying the API</h3>
      <p>Example: <a href="./api/v1/lang-agnostic-outlinks/topic?lang=en&title=Toni_Morrison">Toni Morrison (enwiki)</a></p>
      <p>Or provide your own Wikipedia language and article title:</p>
      <form action="#">
        <div class="form-row align-items-center">
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">lang</div>
              </div>
              <input type="text" class="form-control" id="lang" placeholder="en">
            </div>
          </div>
        </div>
        <div class="form-row align-items-center">
          <div class="col-sm-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">title</div>
              </div>
              <input type="text" class="form-control" id="page_title" placeholder="Toni Morrison">
            </div>
          </div>
        </div>
      <div class="form-row align-items-center">
          <div class="col-auto">
            <button type="submit" class="btn btn-primary" onclick="queryLangAgnosticAPI();">Query API</button>
          </div>
      </div>
      </form>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
          <div id="lang-agnostic-results">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <span class="text-muted">
          Brought to you by <a href='https://meta.wikipedia.org/wiki/User:Isaac_(WMF)'>Isaac (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a><br>
          <a href="https://github.com/geohci/wikidata-topic-model-api">View Source</a> &middot;
          <a href="https://meta.wikimedia.org/wiki/Research_talk:Characterizing_Wikipedia_Reader_Behaviour/Demographics_and_Wikipedia_use_cases/Work_log/2019-09-11">Meta</a> &middot;
          <a href="https://figshare.com/articles/Wikipedia_Articles_and_Associated_WikiProject_Templates/10248344">Data</a> &middot; <a href="https://github.com/geohci/wikidata-topic-model-api#license">License</a>
      </span>
    </div>
  </div>
</footer>

<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var render_categories_wd = function(data) {
      $("#wikidata-results").empty();
      // console.log(["rendering", data]);
      if ("Error" in data) {
        $("#wikidata-results").append("<p><br>" + data["Error"] + "</p>");
      }
      else {
        $("#wikidata-results").append("<p><br>QID: " + data["qid"] + "<br>Label: " + data["name"] + "</p>");
        if (data["results"].length > 0) {
          $("#wikidata-results").append("<li>TOPIC (CONFIDENCE)</li>");
          for (var cat in data["results"]) {
              //console.log(["looping", cat]);
              $("#wikidata-results").append("<li>" + data["results"][cat]["topic"] + " (" + Math.round(data["results"][cat]["score"]*100) + "%)</li>");
          }
        }
        else {
          $("#wikidata-results").append("<li><No confident topics predicted.</li>");
        }
      }
	}

  function queryWikidataAPI() {
    var queryUrl = "https://tools.wmflabs.org/wiki-topic/api/v1/wikidata/topic?threshold=0.15&qid=Q" + document.getElementById('wikidata-id').value;
    console.log(queryUrl);
    $.ajax(queryUrl, {success: render_categories_wd.bind(this),
                      error: function(jqxmlhr, status, error){console.log(status + ": " + error)}});
  }

  var render_categories_la = function(data) {
    $("#lang-agnostic-results").empty();
    // console.log(["rendering", data]);
    if ("Error" in data) {
      $("#lang-agnostic-results").append("<p><br>" + data["Error"] + "</p>");
    }
    else {
      $("#lang-agnostic-results").append('<p><br><a href="' + data["article"] + '">' + data["article"] + '</a></p>');
      if (data["results"].length > 0) {
        $("#lang-agnostic-results").append("<li>TOPIC (CONFIDENCE)</li>");
        for (var cat in data["results"]) {
            // console.log(["looping", cat]);
            $("#lang-agnostic-results").append("<li>" + data["results"][cat]["topic"] + " (" + Math.round(data["results"][cat]["score"]*100) + "%)</li>");
        }
      }
      else {
        $("#lang-agnostic-results").append("<li><No confident topics predicted.</li>");
      }
    }
  }

  function queryLangAgnosticAPI() {
    var queryUrl = "https://tools.wmflabs.org/wiki-topic/api/v1/lang-agnostic-outlinks/topic?threshold=0.15&lang=" + document.getElementById('lang').value + "&title=" + document.getElementById('page_title').value;
    // console.log(queryUrl);
    $.ajax(queryUrl, {success: render_categories.bind(this),
                      error: function(jqxmlhr, status, error){console.log(status + ": " + error)}});
  }
</script>
</body>
</html>
