<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Language-Agnostic Wikipedia Content Tagging</title>
	<link rel="shortcut icon" href="./static/favicon.ico">
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable = no" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css">
	<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./static/style.css" />

</head>

<body>
	<script type="text/javascript">
		var body = document.body;
		body.classList.add('js');
	</script>

	<div id="origin_bar">
		<div class="boxwidth--1-1 padded--left padded--right">
			<a href="https://research.wikimedia.org/" class="origin_title"><img src="./static/Wikimedia-Foundation-logo.svg" alt="Wikimedia Foundation logo" />Wikimedia Research</a>
		</div>
	</div>

	<article id="tool_holder">
		<!-- Header / Start -->
		<div id="tool_header--holder" class="boxwidth--1-1 padded--left padded--right">
			<header id="tool_header">
				<!-- Tool name -->
				<h1>Language-Agnostic Wikipedia Content Tagging</h1>
				<div class="meta">
					<div class="disclaimer note">
						<p>No guarantees are made that this tool will be maintained.</p>
						<p>This is an experimental tool hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a>. No additional personal data is collected by this tool per the Cloud Services
							<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.</p>
					</div>
					<div class="description padded--right">
						<p>This tool showcases various language-agnostic content tagging models -- i.e. models that can label Wikipedia content with one or more tags such as quality, topic, geographic region -- developed by the <a href="https://research.wikimedia.org/">Wikimedia Research</a> team.</p>
					</div>
				</div>
			</header>
		</div>

		<div class="separator"></div>

		<main id="tool_main">
			<div class="cards">
				<div class="cols cols6">
					<div class="col col1">
						<article class="card has--border"><a href="./topic">
								<div class="img">
									<figure><img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/526px-Wikipedia-logo-v2.svg.png" alt="Wikipedia globe to symbolize topics" /></figure>
								</div>
								<div class="texts">
									<h3>Topics</h3>
									<div class="description">
										<p>Predict which high-level topics -- e.g., Sports, Medicine -- are associated with a given Wikipedia article.</p>
									</div>
									<div class="more">More info. &raquo;</div>
								</div>
							</a></article><!-- .card -->
					</div><!-- .col -->
					<div class="col col1">
						<article class="card has--border"><a href="./countries">
								<div class="img">
									<figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Terrestrial_globe.svg/494px-Terrestrial_globe.svg.png" alt="Earth globe to symbolize geography model" /></figure>
								</div>
								<div class="texts">
									<h3>Region</h3>
									<div class="description">
										<p>Predict which geographic regions -- e.g., United States, Scotland -- are associated with a given Wikipedia article.</p>
									</div>
									<div class="more">More info. &raquo;</div>
								</div>
							</a></article><!-- .card -->
					</div><!-- .col -->
					<div class="col col1">
						<article class="card has--border"><a href="./misalignment">
							<div class="img">
								<figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Data_analytics_WP20.png/617px-Data_analytics_WP20.png" alt="Analytics placeholder to symbolize misalignment model" /></figure>
							</div>
							<div class="texts">
								<h3>Misalignment</h3>
								<div class="description">
									<p>Explore the misalignment between reader interest and article quality for any given language edition of Wikipedia.</p>
								</div>
								<div class="more">More info. &raquo;</div>
							</div>
						</a></article><!-- .card -->
					</div><!-- .col -->
					<div class="col col1">
						<article class="card has--border"><a href="./quality">
							<div class="img">
								<figure><img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Cscr-featured.png" alt="Star that symbolizes featured content on Wikipedia to symbolize quality model" /></figure>
							</div>
							<div class="texts">
								<h3>Article Quality</h3>
								<div class="description">
									<p>Predict the quality for any Wikipedia article from 0 (no content) to 1 (high quality article for that wiki).</p>
								</div>
								<div class="more">More info. &raquo;</div>
							</div>
						</a></article><!-- .card -->
					</div><!-- .col -->
					<div class="col col1">
						<article class="card has--border"><a href="./person">
							<div class="img">
								<figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Person_information_icon.svg/268px-Person_information_icon.svg.png" alt="Person icon to symbolize occupation topic model" /></figure>
							</div>
							<div class="texts">
								<h3>Occupation Topic</h3>
								<div class="description">
									<p>Identify high-level topics based on Wikidata occupations for any Wikipedia article.</p>
								</div>
								<div class="more">More info. &raquo;</div>
							</div>
						</a></article><!-- .card -->
					</div><!-- .col -->
					<div class="col col1">
						<article class="card has--border"><a href="./diff-tagging">
							<div class="img">
								<figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/VisualEditor_visual_diff_tool_-_wikitext_diff.png/536px-VisualEditor_visual_diff_tool_-_wikitext_diff.png" alt="Screenshot of a wikitext diff to symbolize edits" /></figure>
							</div>
							<div class="texts">
								<h3>Edit Types</h3>
								<div class="description">
									<p>Identify high-level edit actions within a Wikipedia article edit.</p>
								</div>
								<div class="more">More info. &raquo;</div>
							</div>
						</a></article><!-- .card -->
					</div><!-- .col -->
				</div>
			</div>
		</main>
	</article>

	<footer id="tool_footer">
		<div id="tool_footer-in" class="boxwidth--1-1 padded--left padded--right">
			<p>Experimental tools developed by <span class="tool-author"><a href="https://meta.wikipedia.org/wiki/User:Isaac_(WMF)">Isaac (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a></span>.</p>
			<ul>
				<li><a href="https://github.com/geohci/wikipedia-topic-model-api">View Source</a></li>
				<li><a href="https://meta.wikimedia.org/wiki/Research:Language-Agnostic_Topic_Classification">Meta</a></li>
				<li><a href="https://github.com/geohci/wikipedia-topic-model-api#license">License</a></li>
			</ul>
		</div>
	</footer>


	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

</body>

</html>
