<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Language-Agnostic Topic Classification</title>
	<link rel="shortcut icon" href="./static/favicon.ico">
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable = no" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css">
	<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="./static/style.css" />
	<style>
      .ext-over {color: #762a83; font-weight: bold}
      .over {color: #af8dc3; font-weight: bold}
      .align {color: #9c9191; font-weight: bold}
      .under {color: #7fbf7b; font-weight: bold}
      .ext-under {color: #1b7837; font-weight: bold}
    </style>

</head>

<body>
	<script type="text/javascript">
		var body = document.body;
		body.classList.add('js');
	</script>

	<div id="origin_bar">
		<div class="boxwidth--1-1 padded--left padded--right">
			<a href="https://research.wikimedia.org/" class="origin_title"><img src="./static/Wikimedia-Foundation-logo.svg" alt="Wikimedia Foundation logo" />Wikimedia Research</a>
		</div>
	</div>

	<article id="tool_holder">
		<div id="tool_header--holder" class="boxwidth--1-1 padded--left padded--right">
			<header id="tool_header">
				<!-- Tool name -->
				<h1>Wiki Misalignment</h1>
				<div class="meta">
					<div class="disclaimer note">
						<p>No guarantees are made that this tool will be maintained.</p>
						<p>This is an experimental tool hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a>. No additional personal data is collected by this tool per the Cloud Services
							<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.</p>
					</div>
					<div class="description padded--right">
						<p>This tool shows misalignment in Wikipedia by language and topic. Misalignment describes the gap between an article's importance (as measured by reader demand -- i.e. pageviews) and an article's quality.</p>
						<p>Topic areas with <span class="ext-over">high misalignment</span> (close to +1) are overproduced, meaning that the existing content is of much higher quality than than would be expected based on the number of pageviews it attracts.</p>
						<p>Topic areas with <span class="align">neutral misalignment</span> (close to 0) are in alignment, meaning that the existing content is about the quality you would expect -- i.e. high-quality articles receive many pageviews, medium-quality articles receive some pageviews, and low-quality articles receive relatively few pageviews.</p>
						<p>Topic areas with <span class="ext-under">negative misalignment</span> (close to -1) are underproduced, meaning that the existing content is of much lower quality than than would be expected based on the number of pageviews it attracts.</p>
						<p>For more information on how these metrics are calculated, see the <a href="https://meta.wikimedia.org/wiki/Research:Prioritization_of_Wikipedia_Articles/Misalignment">meta page</a></p>
					</div>
				</div>
			</header>
		</div>

		<div class="separator"></div>

		<section id="misalignment" class="boxwidth--1-1 padded--left padded--right">
			<main id="tool_main">
				<section class="form">
					<form action="#misalignment">
						<div class="cols cols3">
							<div class="col col2">
								{% if lang %}
								<label class="placeholder"><span class="field_name">Language codes -- e.g., en|fr for English and French</span>
									<input type="text" value="{{lang}}" placeholder="Placeholder text" id="langs"/>
								</label>
								{% else %}
								<label class="placeholder"><span class="field_name">Language codes -- e.g., en|fr for English and French</span>
									<input type="text" value="" placeholder="Placeholder text" id="langs"/>
								</label>
								{% endif %}
							</div>
							<div class="col col1">
								<span class="field_name"></span>
								<input type="submit" value="Submit" id="btnSubmit" />
							</div>
						</div>
					</form>
				</section>
				<section id="results">
					<div class="cols cols3">
						<div class="col col3">
							<section class="text" id="misalignment-results">
							<!-- Empty section to hold results -->
							</section>
						</div>
					</div>
				</section>
		</main>
	</article>

	<footer id="tool_footer">
		<div id="tool_footer-in" class="boxwidth--1-1 padded--left padded--right">
			<p>Experimental tool developed by <span class="tool-author"><a href="https://meta.wikipedia.org/wiki/User:Isaac_(WMF)">Isaac (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a></span>.</p>
			<ul>
				<li><a href="https://github.com/geohci/wikidata-topic-model-api">View Source</a></li>
				<li><a href="https://meta.wikimedia.org/wiki/Research:Prioritization_of_Wikipedia_Articles/Misalignment">Meta</a></li>
				<li><a href="https://github.com/geohci/wikidata-topic-model-api#license">License</a></li>
			</ul>
		</div>
	</footer>


	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('form label.placeholder').each(function() {
				if (!$('input, textarea, select', this).val()) {
	 				$(this).addClass('off');
				}
				$(this).on('focusin', function() {
					$(this).removeClass('off');
				});
				$(this).on('focusout', function() {
					if (!$('input, textarea, select', this).val()) {
						$(this).addClass('off');
					}
				});
				$('*[placeholder]', this).attr('placeholder', '');
			});
		});

	</script>

	<script type="text/javascript">
		$('#btnSubmit').click(function (e) {
		   e.preventDefault(); queryMisalignmentAPI();
		});

	    var render_results = function(data) {
			$("#misalignment-results").empty();
			var langs = data['langs'];
			if (langs.length > 0) {
				var table_data = [];
				var table_html = '<table id="misalignment-results-table" class="hover compact">';
				table_html += '<thead><tr><th>Topic</th>';
				var columns = [{'data': "Topic"}];
				for (var lang in langs) {
					table_html += '<th>' + langs[lang] + '</th>';
					columns.push({'data': langs[lang], 'render': {'sort': 'sort', 'display':'display'}});
				}
				table_html += '</tr></thead></table>';
				$("#misalignment-results").append(table_html);
				for (var t_idx in data["results"]) {
					var row = {};
					row['Topic'] = '<a href="https://' + langs[0] + '.wikipedia.org/w/index.php?search=articletopic%3A' + data["results"][t_idx]["topic"] + '&title=Special%3ASearch&profile=advanced&fulltext=1&ns0=1">' + data["results"][t_idx]["topic"] + "</a>";
					for (var lang in langs) {
						row[langs[lang]] = {"display": '<span title="' + data["results"][t_idx]["data"][langs[lang]]['num_articles'] + ' articles">' + data["results"][t_idx]["data"][langs[lang]]['misalignment'] + '</span>', "sort": Number(data["results"][t_idx]["data"][langs[lang]]['misalignment'])};
					}
					table_data.push(row);
				}
				$('#misalignment-results-table').DataTable( {
					"data": table_data,
					"columns": columns,
					"searching": false,
					"scrollY": "800px",
					"paging": false,
					"order": [1, 'desc'],
					"createdRow": function (row, data, index) {
					    for (var l_idx in langs) {
							if ( data[langs[l_idx]]['sort'] >= 0.5 ) {
							    $('td', row).eq(parseInt(l_idx) + 1).addClass("ext-over");
							} else if ( data[langs[l_idx]]['sort'] >= 0.2 ) {
							    $('td', row).eq(parseInt(l_idx) + 1).addClass("over");
							} else if ( data[langs[l_idx]]['sort'] <= -0.5 ) {
							    $('td', row).eq(parseInt(l_idx) + 1).addClass("ext-under");
							} else if ( data[langs[l_idx]]['sort'] <= -0.2 ) {
							    $('td', row).eq(parseInt(l_idx) + 1).addClass("under");
							} else {
							    $('td', row).eq(parseInt(l_idx) + 1).addClass("align");
							}
						}
					}
				} );
			}
		}

	  	function queryMisalignmentAPI() {
			var queryUrl = "https://wiki-topic.toolforge.org/misalignment/api/v1/topic?lang=" + document.getElementById('langs').value;
			// var queryUrl = "http://127.0.0.1:5000/misalignment/api/v1/topic?lang=" + document.getElementById('langs').value;
			$.ajax(queryUrl, {success: render_results.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );
	  	}
	</script>

</body>

</html>
